{% extends "base.html" %}


{% block conteudo %}
<div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
  USUÁRIO:
  {% for usuario in usuarios %}
    {{usuario.nome}}
  {% endfor %} 
</div>
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col mt-4">
      <div class="card" style="width: 18rem;">
        <img src="img/barragem.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card'
            s content.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque repudiandae accusantium suscipit quibusdam, 
            vel aspernatur consequuntur praesentium pariatur 
            possimus sit officiis molestias animi est nesciunt modi omnis labore? Perferendis, ut?
          </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col mt-4">
      <div class="card" style="width: 18rem;">
        <img src="img/barragem.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card'
            s content.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque repudiandae accusantium suscipit quibusdam, 
            vel aspernatur consequuntur praesentium pariatur 
            possimus sit officiis molestias animi est nesciunt modi omnis labore? Perferendis, ut?
          </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col mt-4">
      <div class="card" style="width: 18rem;">
        <img src="img/barragem.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card'
            s content.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque repudiandae accusantium suscipit quibusdam, 
            vel aspernatur consequuntur praesentium pariatur 
            possimus sit officiis molestias animi est nesciunt modi omnis labore? Perferendis, ut?
          </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
