{% extends "base.html" %}

{% block conteudo %}
<div class="h4 pb-2 mt-2 mb-4 text-danger border-bottom border-danger">
    CADASTRO INSPENÇÃO 
  </div>
<form method="post" class="container accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h1 class="accordion-header m-2 text-center border  border-dark">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Corpo
            </button>
        </h1>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table class="table align-middle table-responsive  table-bordered table-secondary border border-dark ">
                    <thead class="table-warning border border-dark">
                        <tr>
                            <th scope="col">Sistema/Subsistema</th>
                            <th scope="col">Função</th>
                            <th scope="col">Falha</th>
                            <th scope="col">Efeito Final</th>
                            <th scope="col">SI</th>
                            <th scope="col">Causa</th>
                            <th scope="col">OI</th>
                            <th scope="col">Controle</th>
                            <th scope="col">Tipo de Controle</th>
                            <th scope="col">DI</th>
                            <th scope="col">RPNi</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1 Corpo do dique</th>
                            <td>Conter a coluna d'água</td>
                            <td>Capacidade insuficiente</td>
                            <td>Instabilidade global</td>
                            <td><input type="number" id="Si_1" name="Si_1"></td>
                            <td>Projeto/Construção inadequado</td>
                            <td><input type="number" id="Oi_1" name="Oi_1"></td>
                            <td>
                                Adequação do projeto
                                <hr>
                                Inspeção visual Instrumentação
                            </td>
                            <td>
                                Prevenção
                                <hr>
                                Detecção
                            </td>
                            <td>
                                <input type="number" id="Di_1" name="Di_1">
                                <hr>
                                <input type="number" id="Di_2" name="Di_2" >
                            </td>
                            <td>
                                <input type="number" id="Rpni_1" name="Rpni_1" readonly>
                                <hr>
                                <input type="number" id="Rpni_2" name="Rpni_2" readonly>
                            </td>

                        </tr>
                        <tr>
                            <th rowspan="3" scope="row">1.2 Crista</th>

                            <td rowspan="2"> Conter a coluna d'água </td>

                            <td>Liquefação</td>
                            <td>Ropimento da Crista</td>
                            <td><input type="number" id="Si_2" name="Si_2"></td>
                            <td>Projeto/Construção inadequado</td>
                            <td><input type="number" id="Oi_2" name="Oi_2"></td>
                            <td>
                                Adequação do projeto
                                <hr>
                                Inspeção visual Instrumentação
                            </td>
                            <td>
                                Prevenção
                                <hr>
                                Detecção
                            </td>
                            <td>
                                <input type="number" id="Di_3" name="Di_3">
                                <hr>
                                <input type="number" id="Di_4" name="Di_4">
                            </td>
                            <td>
                                <input type="number" id="Rpni_3" name="Rpni_3" readonly>
                                <hr>
                                <input type="number" id="Rpni_4" name="Rpni_4" readonly>
                            </td>


                        </tr>
                        <td> Galgamento</td>
                        <td>Ropimento da Crista</td>
                        <td><input type="number" id="Si_3" name="Si_3"></td>
                        <td>Pluviometria Atípica
                            <hr>Projeto/Construção inadequado
                        </td>
                        <td><input type="number" id="Oi_3" name="Oi_3"></td>
                        <td>
                            Adequação do projeto
                            <hr>
                            Inspeção visual Instrumentação
                        </td>
                        <td>
                            Prevenção
                            <hr>
                            Detecção
                        </td>
                        <td>
                            <input type="number" id="Di_5" name="Di_5">
                            <hr>
                            <input type="number" id="Di_6" name="Di_6">
                        </td>
                        <td>
                            <input type="number" id="Rpni_5" name="Rpni_5" readonly>
                            <hr>
                            <input type="number" id="Rpni_6" name="Rpni_6" readonly>
                        </td>

                        <tr>
                            <td scope="row">Possibilitar acesso ao reservatório</td>
                            <td>Inacessibilidade</td>
                            <td>Não realização de inspeções</td>
                            <td><input type="number" id="Si_4" name="Si_4"></td>
                            <td>Projeto/Construção inadequado</td>
                            <td><input type="number" id="Oi_4" name="Oi_4"></td>
                            <td>
                                Adequação do projeto
                                <hr>
                                Inspeção visual Instrumentação
                            </td>
                            <td>
                                Prevenção
                                <hr>
                                Detecção
                            </td>
                            <td>
                                <input type="number" id="Di_7" name="Di_7">
                                <hr>
                                <input type="number" id="Di_8" name="Di_8">
                            </td>
                            <td>
                                <input type="number" id="Rpni_7" name="Rpni_7" readonly>
                                <hr>
                                <input type="number" id="Rpni_8" name="Rpni_8" readonly>
                            </td>


                        </tr>
                        <tr>
                            <th scope="row">1.3 Núcleo</th>
                            <td>Reduzir condutividade hidráulica</td>
                            <td>Piping</td>
                            <td>Liquefação</td>
                            <td><input type="number" id="Si_5" name="Si_5"></td>
                            <td>Saturação do solo</td>
                            <td><input type="number" id="Oi_5" name="Oi_5"></td>
                            <td>
                                Adequação do projeto
                                <hr>
                                Inspeção visual Instrumentação
                            </td>
                            <td>
                                Prevenção
                                <hr>
                                Detecção
                            </td>
                            <td>
                                <input type="number" id="Di_9" name="Di_9">
                                <hr>
                                <input type="number" id="Di_10" name="Di_10">
                            </td>
                            <td>
                                <input type="number" id="Rpni_9" name="Rpni_9" readonly>
                                <hr>
                                <input type="number" id="Rpni_10" name="Rpni_10" readonly>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">1.4 Talude de montante</th>
                            <td>Prover estabilidade mecânica</td>
                            <td>Deformação excessiva</td>
                            <td>Erosão superficial Redução do fator de segurança</td>
                            <td><input type="number" id="Si_6" name="Si_6"></td>
                            <td>Deficiência nas camadas de compactação</td>
                            <td><input type="number" id="Oi_6" name="Oi_6"></td>
                            <td>
                                Adequação do projeto
                                <hr>
                                Inspeção visual Instrumentação
                            </td>
                            <td>
                                Prevenção
                                <hr>
                                Detecção
                            </td>
                            <td>
                                <input type="number" id="Di_11" name="Di_11">
                                <hr>
                                <input type="number" id="Di_12" name="Di_12">
                            </td>
                            <td>
                                <input type="number" id="Rpni_11" name="Rpni_11" readonly>
                                <hr>
                                <input type="number" id="Rpni_12" name="Rpni_12" readonly>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
       
        <div class="accordion-item">
            <h1 class="accordion-header m-2 text-center border  border-dark">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Drenagem-Interna
                </button>
            </h1>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table
                        class="table align-middle table-responsive  table-bordered table-secondary border border-dark">
                        <thead class="table-warning border border-dark">
                            <tr>
                                <th scope="col">Sistema/Subsistema</th>
                                <th scope="col">Função</th>
                                <th scope="col">Falha</th>
                                <th scope="col">Efeito Final</th>
                                <th scope="col">SI</th>
                                <th scope="col">Causa</th>
                                <th scope="col">OI</th>
                                <th scope="col">Controle</th>
                                <th scope="col">Tipo de Controle</th>
                                <th scope="col">DI</th>
                                <th scope="col">RPNi</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th rowspan="4" scope="row">2 Sistema de drenagem interna</th>

                                <td rowspan="4">Drenar e filtrar a água da fundação e da chuva </td>

                                <td rowspan="2">Aumento das poropressões no maciço</td>
                                <td> Instabilidade local</td>
                                <td><input type="number" id="Si_7" name="Si_7"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_7" name="Oi_7"></td>
                                <td>Ajuste de projeto/construção</td>
                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_13" name="Di_13">
                                    <hr>
                                    <input type="number" id="Di_14" name="Di_14">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_13" name="Rpni_13" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_14" name="Rpni_14" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td> Instabilidade global</td>
                                <td><input type="number" id="Si_8" name="Si_8"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_8" name="Oi_8"></td>
                                <td>
                                    Inspeção visual
                                    <hr>
                                    Instrumentação
                                </td>

                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_15" name="Di_15">
                                    <hr>
                                    <input type="number" id="Di_16" name="Di_16">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_15" name="Rpni_15" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_16" name="Rpni_16" readonly>
                                </td>

                            </tr>



                            <tr>
                                <td rowspan="2">Erosão interna (piping)</td>
                                <td> Instabilidade local</td>
                                <td><input type="number" id="Si_9" name="Si_9"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_9" name="Oi_9"></td>
                                <td>Ajuste de projeto/construção</td>
                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_17" name="Di_17">
                                    <hr>
                                    <input type="number" id="Di_18" name="Di_18">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_17" name="Rpni_17" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_18" name="Rpni_18" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td> Instabilidade global</td>
                                <td><input type="number" id="Si_10" name="Si_10"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_10" name="Oi_10"></td>
                                <td>
                                    Inspeção visual
                                    <hr>
                                    Instrumentação
                                </td>

                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_19" name="Di_19">
                                    <hr>
                                    <input type="number" id="Di_20" name="Di_20">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_19" name="Rpni_19" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_20" name="Rpni_20" readonly>
                                </td>

                            </tr>
                            <tr>
                                <th rowspan="4" scope="row">2.1 Filtro septo vertical/inclinado</th>

                                <td rowspan="4">Interceptar, drenar e filtrar a água do reservatório</td>

                                <td rowspan="2">Aumento das poropressões no maciço</td>
                                <td> Instabilidade local</td>
                                <td><input type="number" id="Si_11" name="Si_11"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_11" name="Oi_11"></td>
                                <td>Ajuste de projeto/construção</td>
                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_21" name="Di_21">
                                    <hr>
                                    <input type="number" id="Di_22" name="Di_22">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_21" name="Rpni_21" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_22" name="Rpni_22" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td> Instabilidade global</td>
                                <td><input type="number" id="Si_12" name="Si_12"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_12" name="Oi_12"></td>
                                <td>
                                    Inspeção visual
                                    <hr>
                                    Instrumentação
                                </td>

                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_23" name="Di_23">
                                    <hr>
                                    <input type="number" id="Di_24" name="Di_24">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_23" name="Rpni_23" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_24" name="Rpni_24" readonly>
                                </td>

                            </tr>



                            <tr>
                                <td rowspan="2">Erosão interna (piping)</td>
                                <td> Instabilidade local</td>
                                <td><input type="number" id="Si_13" name="Si_13"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_13" name="Oi_13"></td>
                                <td>Ajuste de projeto/construção</td>
                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_25" name="Di_25">
                                    <hr>
                                    <input type="number" id="Di_26" name="Di_26">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_25" name="Rpni_25" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_26" name="Rpni_26" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td> Instabilidade global</td>
                                <td><input type="number" id="Si_14" name="Si_14"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_14" name="Oi_14"></td>
                                <td>
                                    Inspeção visual
                                    <hr>
                                    Instrumentação
                                </td>

                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_27" name="Di_27">
                                    <hr>
                                    <input type="number" id="Di_28" name="Di_28">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_27" name="Rpni_27" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_28" name="Rpni_28" readonly>
                                </td>

                            </tr>
                            <tr>
                                <th rowspan="4" scope="row">2.2 Tapete drenante</th>

                                <td rowspan="4">Drenar e filtrar a água proveniente das ombreiras, da fundação, e do
                                    filtro septo</td>

                                <td rowspan="2">Aumento das poropressões no maciço</td>
                                <td> Instabilidade local</td>
                                <td><input type="number" id="Si_15" name="Si_15"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_15" name="Oi_15"></td>
                                <td>Ajuste de projeto/construção</td>
                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_29" name="Di_29">
                                    <hr>
                                    <input type="number" id="Di_30" name="Di_30">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_29" name="Rpni_29" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_30" name="Rpni_30" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td> Instabilidade global</td>
                                <td><input type="number" id="Si_16" name="Si_16"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_16" name="Oi_16"></td>
                                <td>
                                    Inspeção visual
                                    <hr>
                                    Instrumentação
                                </td>

                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_31" name="Di_31">
                                    <hr>
                                    <input type="number" id="Di_32" name="Di_32">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_31" name="Rpni_31" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_32" name="Rpni_32" readonly>
                                </td>

                            </tr>



                            <tr>
                                <td rowspan="2">Erosão interna (piping)</td>
                                <td> Instabilidade local</td>
                                <td><input type="number" id="Si_17" name="Si_17"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_17" name="Oi_17"></td>
                                <td>Ajuste de projeto/construção</td>
                                <td>
                                    Prevenção

                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_33" name="Di_33">
                                    <hr>
                                    <input type="number" id="Di_34" name="Di_34">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_33" name="Rpni_33" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_34" name="Rpni_34" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td> Instabilidade global</td>
                                <td><input type="number" id="Si_18" name="Si_18"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_18" name="Oi_18"></td>
                                <td>
                                    Inspeção visual
                                    <hr>
                                    Instrumentação
                                </td>

                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_35" name="Di_35">
                                    <hr>
                                    <input type="number" id="Di_36" name="Di_36">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_35" name="Rpni_35" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_36" name="Rpni_36" readonly>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">2.3 Saída do dreno de fundo</th>
                                <td>Promover a função do filtro</td>
                                <td>Erosão interna (piping)</td>
                                <td> Instabilidade local</td>
                                <td><input type="number" id="Si_19" name="Si_19"></td>
                                <td>Projeto/construção inadequados</td>
                                <td><input type="number" id="Oi_19" name="Oi_19"></td>
                                <td>Ajuste de projeto/construção</td>
                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_37" name="Di_37">
                                    <hr>
                                    <input type="number" id="Di_38" name="Di_38">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_37" name="Rpni_37" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_38" name="Rpni_38" readonly>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h1 class="accordion-header m-2 text-center border  border-dark">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Drenagem Superficial
                </button>
            </h1>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table align-middle table-responsive  table-bordered table-secondary border border-dark ">
                        <thead class="table-warning border border-dark">
                            <tr>
                                <th scope="col">Sistema/Subsistema</th>
                                <th scope="col">Função</th>
                                <th scope="col">Falha</th>
                                <th scope="col">Efeito Final</th>
                                <th scope="col">SI</th>
                                <th scope="col">Causa</th>
                                <th scope="col">OI</th>
                                <th scope="col">Controle</th>
                                <th scope="col">Tipo de Controle</th>
                                <th scope="col">DI</th>
                                <th scope="col">RPNi</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">3 Sistema de drenagem superficial</th>
                                <td>Direcionar adequadamente água da chuva</td>
                                <td>Subdimensionamento ou obstrução do sistema de vazão</td>
                                <td>Erosão (interna e externa)</td>
                                <td><input type="number" id="Si_20" name="Si_20"></td>
                                <td>Projeto/Construção inadequado</td>
                                <td><input type="number" id="Oi_20" name="Oi_20"></td>
                                <td>
                                    Adequação do projeto
                                    <hr>
                                    Inspeção visual Instrumentação
                                </td>
                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_39" name="Di_39">
                                    <hr>
                                    <input type="number" id="Di_40" name="Di_40">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_39" name="Rpni_39" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_40" name="Rpni_40" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3.1 Vertedouro</th>
                                <td> Evitar galgamento</td>
                                <td>Subdimensionamento ou obstrução</td>
                                <td>Instabilidade global</td>
                                <td><input type="number" id="Si_21" name="Si_21"></td>
                                <td>Projeto/Construção inadequado</td>
                                <td><input type="number" id="Oi_21" name="Oi_21"></td>
                                <td>
                                    Adequação do projeto
                                    <hr>
                                    Inspeção visual Instrumentação
                                </td>
                                <td>
                                    Prevenção
                                    <hr>
                                    Detecção
                                </td>
                                <td>
                                    <input type="number" id="Di_41" name="Di_41">
                                    <hr>
                                    <input type="number" id="Di_42" name="Di_42">
                                </td>
                                <td>
                                    <input type="number" id="Rpni_41" name="Rpni_41" readonly>
                                    <hr>
                                    <input type="number" id="Rpni_42" name="Rpni_42" readonly>
                                </td>
                            </tr>




                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="accordion-item">
            <h1 class="accordion-header m-2 text-center border  border-dark">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFor" aria-expanded="false" aria-controls="flush-collapseFor">
                    Fundação
                </button>
            </h1>
            <div id="flush-collapseFor" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <table
                        class=" table align-middle table-responsive  table-bordered table-secondary border border-dark ">
                        <thead class="table-warning border border-dark">
                            <tr>
                                <th scope="col">Sistema/Subsistema</th>
                                <th scope="col">Função</th>
                                <th scope="col">Falha</th>
                                <th scope="col">Efeito Final</th>
                                <th scope="col">SI</th>
                                <th scope="col">Causa</th>
                                <th scope="col">OI</th>
                                <th scope="col">Controle</th>
                                <th scope="col">Tipo de Controle</th>
                                <th scope="col">DI</th>
                                <th scope="col">RPNi</th>

                            </tr>
                        </thead>
                        <tbody>
                            <th rowspan="2">4 Fundação </th>

                            <td>Assegurar a estabilidade do maciço
                                <hr> Controlar as subpressões
                            </td>
                            <td>Perda de estabilidade mecânica
                                <hr>
                                Subpressões elevadas
                            </td>
                            <td>Instabilidade global</td>
                            <td><input type="number" id="Si_22" name="Si_22"></td>
                            <td>Projeto/Construção inadequado</td>
                            <td><input type="number" id="Oi_22" name="Oi_22"></td>
                            <td>
                                Adequação do projeto
                                <hr>
                                Inspeção visual Instrumentação
                            </td>
                            <td>
                                Prevenção
                                <hr>
                                Detecção
                            </td>
                            <td>
                                <input type="number" id="Di_43" name="Di_43">
                                <hr>
                                <input type="number" id="Di_44" name="Di_44">
                            </td>
                            <td>
                                <input type="number" id="Rpni_43" name="Rpni_43" readonly>
                                <hr>
                                <input type="number" id="Rpni_44" name="Rpni_44" readonly>
                            </td>

                            </tr>
                            <td>Evitar galgamento </td>
                            <td>Subpressões elevadas na fundação</td>
                            <td>Instabilidade global</td>
                            <td><input type="number" id="Si_23" name="Si_23"></td>
                            <td>Projeto/Construção inadequado</td>
                            <td><input type="number" id="Oi_23" name="Oi_23"></td>
                            <td>
                                Adequação do projeto
                                <hr>
                                Inspeção visual Instrumentação
                            </td>
                            <td>
                                Prevenção
                                <hr>
                                Detecção
                            </td>
                            <td>
                                <input type="number" id="Di_45" name="Di_45">
                                <hr>
                                <input type="number" id="Di_46" name="Di_46">
                            </td>
                            <td>
                                <input type="number" id="Rpni_45" name="Rpni_45" readonly>
                                <hr>
                                <input type="number" id="Rpni_46" name="Rpni_46" readonly>
                            </td>



                        </tbody>
                    </table>
                </div>

            </div>
            <div class="accordion-item">
                <h1 class="accordion-header m-2 text-center border  border-dark">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Reservatório
                    </button>
                </h1>
                <div id="flush-collapseFive" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <table
                            class=" table align-middle table-responsive  table-bordered table-secondary border border-dark ">
                            <thead class="table-warning border border-dark">
                                <tr>
                                    <th scope="col">Sistema/Subsistema</th>
                                    <th scope="col">Função</th>
                                    <th scope="col">Falha</th>
                                    <th scope="col">Efeito Final</th>
                                    <th scope="col">SI</th>
                                    <th scope="col">Causa</th>
                                    <th scope="col">OI</th>
                                    <th scope="col">Controle</th>
                                    <th scope="col">Tipo de Controle</th>
                                    <th scope="col">DI</th>
                                    <th scope="col">RPNi</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">5. Reservatório </th>
                                    <td>
                                        Acumular água
                                        <hr>
                                        Amortecer cheia
                                    </td>
                                    <td>
                                        Capacidade insuficiente
                                        <hr>
                                        Não amortecer a cheia
                                    </td>
                                    <td>Instabilidade global</td>
                                    <td><input type="number" id="Si_24" name="Si_24"></td>
                                    <td>Projeto/Construção inadequado</td>
                                    <td><input type="number" id="Oi_24" name="Oi_24"></td>
                                    <td>
                                        <br>
                                        Adequação do projeto<br>
                                        <hr>
                                        Inspeção visual Instrumentação
                                    </td>
                                    <td>
                                        Prevenção
                                        <hr>
                                        Detecção
                                    </td>
                                    <td>
                                        <input type="number" id="Di_47" name="Di_45">
                                        <hr>
                                        <input type="number" id="Di_48" name="Di_48">
                                    </td>
                                    <td>
                                        <input type="number" id="Rpni_47" name="Rpni_47" readonly>
                                        <hr>
                                        <input type="number" id="Rpni_48" name="Rpni_48" readonly>
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class=" m-2 d-grid  gap-2 col-6 mx-auto">
        <button class="btn btn-outline-success" type="submit" >Salvar</button>
        <button class="btn btn-outline-danger" type="reset">Deletar</button>
      </div>
      
    
</form>




{% endblock %}